doctype html
html
  head
    title 403 - krislawton.com
    include /includes/htmlHead.pug
    include /includes/rootHtmlHead.pug
    link(rel="stylesheet", href="/u/common.css")
  body
    include /includes/rootPageHead.pug
    +header(userData)
    main.default
      h1 403 error
      p Unfortunately there was an 403 error. This means you're not allowed, get out reeeeew