doctype html
html
  head
    title 404 - krislawton.com
    include /includes/htmlHead.pug
    link(rel="stylesheet", href="/u/common.css")
  body
    include /includes/rootPageHead.pug
    main
      h1 404 error
      p Unfortunately there was an 404 error. Your resource was lost at sea.