doctype html
html
  head
    title Achievements - krislawton.com
    include /includes/htmlHead.pug
    include /includes/rootHtmlHead.pug
    link(rel="stylesheet", href="/u/achievements.css")
    script(src="/u/achievements.js")
  body
    include /includes/rootPageHead.pug
    +header(userData)
    main.default
      h1 Achievements
      p Acheivements are incentives for use of the site, because if captialism teaches us anything, 
        | it's that humans work harder when they receive proportional remuneration. 
        | So, let's browse some achievements you'll probably never earn cause you're lazy. 
        | I totally didn't steal this idea from StackExchange.com, what are you talking about?
      p Each time you satsify an achievement, you are awarded it. 
        | You can be awarded achievement multiple times (and that's the idea), unless it says something like "for the first time"
      p There are both good achievements (bronze, silver, gold, platinum), and naughty achievements.
      h2 Site-wide
      div.ach-here#domain1
      h2 What you can do with achievements
      p On top of MVP awards, achievements give bits. Bronze awards give 2 bits, silver 5, gold 25 and platinum 100.
      p If you spot another user's message you think contributes to chat and you want to endorse or recognize it, these bits can be used to "cheer" them. A cheer shows up in chat as a kind of decorated repost. You can spend as many bits to cheer a message as you want, and the higher number you use to cheer, the more decorated the message will become. As a preventative anti-spam measure, when cheering less than 20 bits, you are limited to cheering once per hour.
      p Cheers decorate messages differently depending on the amount. 
      ul
        li Level 1 (grey balls): 1-2, 3-4
        li Level 2 (green squares): 5-14, 15-24
        li Level 3 (orange upvotes): 25-49, 50-99
        li Level 4 (purple diamonds): 100-249
        li Levle 5 (teal diamonds): 250-499
        li Level 5 (red diamonds): 500+
      p The sidebar of a chat room shows the highest-ever cheered messages, as well as "hot" cheered messages. Cheers add hotness to a message, to the effect of (i * 0.6^d) where i is the bit value of the initial cheer and d is the number of days old the cheer is.
      h2 MVP
      p At the end of each week, month, and year, the person with the highest acheivement points wins an MVP award. 
        | MVP points are given each time an achievement is awarded. Eech platinum achievement earns 40 points, 
        | gold earns 30, silver 20, bronze 10. Naughty achievements deduct points. Grey takes away 1 point, black 5, and red 20.
      p MVP awards do not have an affect on achievement points (to keep the competition open)
      div.ach-here#domain3
      h2 Chat achievements
      div.ach-here#domain2
        