main .ach-line {
	padding: 5px 0;
}
main .ach-line div {
	display: inline-block;
}
.ach-divider {
	border-top: 1px solid #e0e0e0;
	margin: 10px 0;   
}
.ach-badgecontainer {
	width: 250px;
	vertical-align: middle;
	display: inline-block;
}
.ach-info {
	width: calc(100% - 370px);
	word-wrap: break-word;
	vertical-align: middle;
}
.ach-counts {
	width: 120px;
	text-align: right;
	opacity: 0.4;
}
.ach-countnumber {
	font-size: 85%;
	font-weight: bold;
}
.ach-counts.ni {
	color: hsl(0, 100%, 25%);
	font-weight: bold;
	font-size: 90%;
}
.ach-extrainfo {
	margin: 15px 20px;
	opacity: 0.6;
	font-size: small;
}