.ach-line {
	padding: 5px 0;
}
.ach-line div {
	display: inline-block;
}
.ach-divider {
	border-top: 1px solid #e0e0e0;
	margin: 10px 0;   
}
.ach-badgecontainer {
	width: 250px;
	vertical-align: middle;
}
.ach-badge {
	background: #f0f0f0;
	border: 1px solid #c0c0c0;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
	position: relative;
	padding-left: 30px;
}
.ach-badge:hover {
	background: #e0e0e0;
}
.ach-badge::before {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 4px;
	content: " ";
	position: absolute;
	left: 12px;
	top: 10px;
	background: black;
}
.ach-badge.lvl1::before {
	background: hsl(20, 40%, 50%);
}
.ach-badge.lvl2::before {
	background: hsl(200, 10%, 75%);
}
.ach-badge.lvl3::before {
	background: hsl(45, 90%, 60%);
}
.ach-badge.lvl4::before {
	background: hsl(260, 100%, 70%);
	background: linear-gradient(45deg, hsl(170, 80%, 60%), hsl(200, 90%, 50%));
}
.ach-badge.lvl-1 {
	background: #c0c0c0;
}
.ach-badge.lvl-2 {
	background: black;
	color: white;
}
.ach-badge.lvl-2::before {
	background: white;
}
.ach-badge.lvl-3 {
	background: hsl(0, 80%, 40%);
	color: white;
}
.ach-badge.lvl-3::before {
	background: white;
}
.ach-info {
	width: calc(100% - 350px);
	word-wrap: break-word;
	vertical-align: middle;
}
.ach-counts {
	width: 100px;
	text-align: right;
	opacity: 0.4;
}
.ach-countnumber {
	font-size: 85%;
	font-weight: bold;
}