doctype html
html
  head
    title Achievements - krislawton.com
    include /includes/htmlHead.pug
    link(rel="stylesheet", href="/u/common.css")
    link(rel="stylesheet", href="/u/achievements.css")
    script(src="/u/achievements.js")
  body
    include /includes/rootPageHead.pug
    main.default
      h1 Achievements
      p Acheivements are incentives for use of the site, because if captialism teaches us anything, 
        | it's that humans work harder when they receive proportional remuneration. 
        | So, let's browse some achievements you'll probably never earn cause you're lazy. 
        | I totally didn't steal this idea from StackExchange.com, what are you talking about?
      p Each time you satsify an achievement, you are awarded it. 
        | You can be awarded achievement multiple times (and that's the idea), unless it says something like "for the first time"
      p There are both good achievements (bronze, silver, gold, platinum), and naughty achievements.
      h2 Site-wide
      div.ach-here#domain1
      h2 MVP
      p At the end of each week, month, and year, the person with the highest acheivement points wins an MVP achievement. 
        | Achievement points are given each time an achievement is awarded. Eech platinum achievement earns 40 points, 
        | gold earns 30, silver 20, bronze 10. Naughty achievements deduct points. Grey takes away 1 point, black 5, and red 20.
      p MVP achievements do not award achievement points (to keep the competition open)
      div.ach-here#domain3
      h2 Chat
      div.ach-here#domain2
        