doctype html
html
  head
    title Achievement - krislawton.com
    include /includes/htmlHead.pug
    include /includes/rootHtmlHead.pug
    link(rel="stylesheet", href="/u/achievement.css")
    script(src="/u/achievement.js")
    - var achievementUrl = urlParameter
    meta#ids(data-achievementurl=achievementUrl)
  body
    include /includes/rootPageHead.pug
    +header(userData)
    main.default
      a.button(href="/achievements")#allAchievements &lt; All achievements
      h1 Achievement
      p.lead Loading achievement...
      p.info