doctype html
html
  head
    title Chat - krislawton.com
    include /includes/htmlHead.pug
    include /includes/rootHtmlHead.pug
    script(src="/u/chat.js")
    link(rel="stylesheet", href="/u/chat.css")
    - var permaid = userData.permaid
    meta#accountPermaId(data-permaid=permaid)
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
  body.chats-open.info-open
    include /includes/rootPageHead.pug
    +header(userData)
    div#chatToolbar
      button.left.button
        span.chevron &gt;
        |  Toggle chats
      button.right.button
        | Toggle info 
        span.chevron &lt;
    div#chats
      button.chatRooms(data-function="all") Chat rooms
      div.rooms
      button.addRoom(data-function="add") (+) Add room
    div#info
      div.card.room
        button.collapser
          h2 Room
          span.chev >
        div.collapsible
          div#room
            button.description(title="Click to change")
            div.description-edit(style="display: none")
              textarea
              div.buttons
                button.button.raised.cancel Cancel
                button.button.raised.colored.submit Submit
            div.buttons
              button.button.raised.smol#leave-room Leave room
              button.button.raised.smol#archive-room Archive room
      div.card
        button.collapser
          h2 Users
          span.chev >
        div.collapsable  
          div#users
      div.card
        button.collapser
          h2 Search
          span.chev >
        div.collapsable
          div#chatSearch
            input(type="date")
            button.search.button.raised Go to date
            div.error(style="display: none")
      div.card
        button.collapser
          h2 Hot
          span.chev >
        div.collapsable
          button.explanation (?)
          span.explanation
            | Hot messages are those an algorithm has determined are hot at the moment. Roughly, it's based on reactions, stars, and age.
          div#hot
      div.card
        button.collapser
          h2 Starred
          span.chev >
        div.collapsable
          div#nostars.static No messages starred yet! Star messages that are important 
            | to you or that you want to save for later. 
            | No one else can see what messages you've starred.
          div#starred
    div#center
      div#centerModal(style="display: none")
        div.modal-container.persistent
          button.close-modal.button.persistent ×
      div#logViewPort
        div#logContainer
          button.loadChat.showEarlier Try to get me some earlier chat
          button.loadChat.showLater(style="display: none") Try to get me some more recent chat
      div#sendContainer
        textarea(autofocus)
        div.error-custom(style="display: none")
        div.clickable-message(style="display: none")