doctype html
html
  head
    title Chat - krislawton.com
    include /includes/htmlHead.pug
    include /includes/rootHtmlHead.pug
    script(src="/u/chat.js")
    link(rel="stylesheet", href="/u/chat.css")
    - var permaid = userData.permaid
    meta#accountPermaId(data-permaid=permaid)
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
  body.chats-open.info-open
    include /includes/rootPageHead.pug
    +header(userData)
    div#chatToolbar
      button.left.button
        span.chevron &gt;
        |  Toggle chats
      button.right.button
        | Toggle info 
        span.chevron &lt;
    div#chats
      div.rooms
    div#info
      div.card
        h2 Users
        div#users
      div.card
        h2 Starred
        div#nostars No messages starred yet! Star messages that are important 
          | to you or that you want to save for later. 
          | No one else can see what messages you've starred.
        div#starred
    div#center
      div#logViewPort
        div#logContainer
          button.showEarlier Try to get me some earlier chat
      div#sendContainer
        textarea(autofocus)