/* Primary elements */
body {
	height: 100vh;
	overflow: hidden;
}
#topBanner {
	width: 100%;
	position: fixed;
	top: 0;
}
#chatToolbar {
	width: 100%;
	height: 20px;
	position: fixed;
	top: 40px;
}
#topDialogues {
	top: 60px;
}
#chats {
	width: 200px;
	height: calc(100% - 60px);
	position: fixed;
	top: 60px;
	overflow-y: auto;
	transition: width 0.3s, opacity 0.3s;
}
#info {
	height: calc(100% - 60px);
	width: 350px;
	position: fixed;
	top: 60px;
	right: 0;
	transition: width 0.3s, opacity 0.3s;
}
#center {
	height: calc(100% - 60px);
	position: relative;
	top: 60px;
	background: white;
	transition: all 0.3s;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.08), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
#logViewPort {
	height: calc(100% - 70px);
	position: relative;
	top: 0;
	padding: 0 10px;
	overflow-y: scroll;
}
#logContainer {
	width: 100%;
}

/* Top toolbar */
#chatToolbar {
	font-size: 80%;
	text-transform: uppercase;
	pointer-events: none;
}
#chatToolbar button {
	height: 20px;
	line-height: 20px;
	font-size: 80%;
	padding-top: 0;
	padding-bottom: 0;
	color: white;
	pointer-events: auto;
}
#chatToolbar button:hover {
	color: inherit;
}
#chatToolbar button.right {
	position: absolute;
	right: 0;
}

/* When open/closed chats/info */
.chats-open #center {
	margin-left: 200px;
}
.chats-closed #center {
	margin-left: 0;
}
.chats-closed #chats {
	width: 0;
	opacity: 0;
}
.info-open #center {
	margin-right: 350px;
}
.info-closed #center {
	margin-right: 0;
}
.info-closed #info {
	width: 0;
	opacity: 0;
}

/* Text entry area */
#sendContainer {
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
	margin: 10px;
	background: white;
	transition: all 0.3s;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.1);
}
#sendContainer textarea {
	font-family: inherit;
	font-size: inherit;
	resize: none;
	box-sizing: border-box;
	border: 0;
	width: 100%;
	padding: 5px;
	height: 100%;
}
#sendContainer textarea:focus {
	outline: 0;
}
textarea.click-to-refresh {
	cursor: pointer;
}
textarea.click-to-refresh:hover {
	background: rgba(0, 0, 0, 0.05);
}
textarea.click-to-refresh:active {
	background: rgba(0, 0, 0, 0.1);
}

/* Chat log */
#logContainer button.loadChat {
	display: block;
	text-align: center;
	padding: 50px;
	width: 100%;
}
#logContainer button.loadChat:hover {
	background: rgba(0, 0, 0, 0.08);
}
#logContainer button.loadChat:active {
	background: rgba(0, 0, 0, 0.16);
}
.achat, .dateSeparator {
	vertical-align: top;
}
.achat.starred {
	background: hsl(50, 90%, 95%);
}
.achat:hover {
	background: #f9f9f9;
}
.achat {
	padding: 3px 0;
	display: flex;
}
.achat .timestamp {
	width: 60px;
}
.achat .else {
	padding: 0 1.3em 0 0.6em;
	position: relative;
	word-wrap: break-word;
	max-width: calc(100% - 76px);
	flex-grow: 1;
}
.achat .else > div {
	display: inline;
}
.achat .else .from {
	padding-right: 5px;
}
.achat .from {
	font-weight: bold;
}
.achat .else .edited {
	color: rgba(0, 0, 0, 0.2);
	font-weight: bold;
	font-size: small;
	margin-left: 3px;
	display: none;
}
.achat.edited .else .edited {
	display: inline;
}
.achat button.options {
	position: absolute;
	top: 0;
	right: 0;
	visibility: hidden;
}
.achat:hover button.options {
	visibility: visible;
}
div.options {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	background: white;
	box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.16);
	margin-top: 0;
	opacity: 0;
}
div.options button.option {
	display: block;
	padding: 7px 10px;
	width: 100%;
	text-align: left;
	font-size: 80%;
	color: rgba(0, 0, 0, 0.5);
}
div.options button.option.close {
	color: hsl(0, 70%, 70%);
}
div.options button.option:hover {
	background: rgba(0, 0, 0, 0.08);
}
div.options button.option:active {
	background: rgba(0, 0, 0, 0.16);
}
.achat .else .reactions {
	display: block;
	margin-bottom: 4px;
}
.reaction {
	display: inline-block;
	margin: 4px 10px 0 0;
	padding: 4px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 1px 1px 4px rgba(0, 0, 0, 0.1);
	background: hsl(0, 0%, 98%);
	font-size: small;
	color: rgba(0, 0, 0, 0.7);
	border-radius: 3px;
}
.reaction:hover {
	background: hsl(216, 31%, 90%);
}
.reaction:active {
	background: hsl(216, 31%, 80%);
}
.reaction.reacted-by-me {
	font-weight: bold;
	box-shadow: 0 0 0 1px hsla(216, 50%, 39%, 0.7), 1px 2px 4px 1px hsla(216, 31%, 39%, 0.3);
	color: hsl(216, 31%, 39%);
}
.dateHeader {
	font-weight: bold;
	text-align: center;
	padding: 20px 0 10px 0;
}
.diffSeparator div {
	margin: 5px 10px;
	border-left: 2px solid hsl(216,45%,92%);
	padding: 10px;
	color: rgba(0, 0, 0, 0.5);
}

.achat .content {
	transition: opacity 0.15s;
}
.achat.editing .content {
	opacity: 0.5;
}
.achat .else div.edit {
	display: block;
	margin: 10px 0;
}
.achat .edit textarea {
	width: 100%;
	min-height: 60px;
	resize: vertical;
	border: 0;
	font: inherit;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.achat .edit .buttons {
	display: flex;
	justify-content: flex-end;
}
.achat .edit button {
	margin: 10px 0 0 10px;
}

/* Chat content format */
.chatformat {
	white-space: pre-wrap;
}
.chatformat .bold {
	font-weight: bold;
}
.chatformat .italics {
	font-style: italic;
}
.chatformat .greentext {
	color: hsl(77, 64%, 37%);
}
.chatformat .header {
	font-size: 130%;
	line-height: 150%;
	vertical-align: top;
}
.chatformat .header.at-start {
	line-height: 100%;
}
.chatformat .code {
	padding: 0 3px;
	border-radius: 3px;
	border: 1px solid hsl(216, 31%, 39%);
	background: hsl(216, 31%, 95%);
	color: hsl(216, 31%, 39%);
	font-family: "Fira Code", monospace;
	font-size: 87%;
}
@keyframes triggered {
	0% { top: 0px; left: 0px; }
	5% { top: 3px; left: -2px; }
	10% { top: -1px; left: -1px; }
	15% { top: 0px; left: 3px; }
	20% { top: 0px; left: 0px; }
	25% { top: -1px; left: -3px; }
	30% { top: 0px; left: 1px; }
	35% { top: 3px; left: -2px; }
	40% { top: 0px; left: 3px; }
	45% { top: 0px; left: 1px; }
	50% { top: 0px; left: 0px; }
	55% { top: -2px; left: 3px; }
	60% { top: -3px; left: 0px; }
	65% { top: 2px; left: -3px; }
	70% { top: 0px; left: 1px; }
	75% { top: 0px; left: -2px; }
	80% { top: 1px; left: 2px; }
	85% { top: -3px; left: -3px; }
	90% { top: 3px; left: 2px; }
	95% { top: 2px; left: -2px; }
	100% { top: 0px; left: 0px; }
}
@keyframes triggered2 {
	0% { top: 0px; left: 0px; filter: blur(0.26px); color: hsl(0, 25.14%, 50%); }
	5% { top: -2px; left: 0px; filter: blur(0.09px); color: hsl(0, 1.50%, 50%); }
	10% { top: 0px; left: 3px; filter: blur(0.15px); color: hsl(0, 6.07%, 50%); }
	15% { top: 2px; left: -2px; filter: blur(0.27px); color: hsl(0, 1.91%, 50%); }
	20% { top: 3px; left: 2px; filter: blur(0.28px); color: hsl(0, 18.98%, 50%); }
	25% { top: 1px; left: 3px; filter: blur(2.66px); color: hsl(0, 0.12%, 50%); }
	30% { top: 2px; left: 0px; filter: blur(0.01px); color: hsl(0, 93.52%, 50%); }
	35% { top: 0px; left: 1px; filter: blur(0.21px); color: hsl(0, 10.83%, 50%); }
	40% { top: -1px; left: -2px; filter: blur(2.51px); color: hsl(0, 34.31%, 50%); }
	45% { top: -1px; left: 0px; filter: blur(0.89px); color: hsl(0, 12.90%, 50%); }
	50% { top: 3px; left: -1px; filter: blur(2.69px); color: hsl(0, 58.97%, 50%); }
	55% { top: -2px; left: 1px; filter: blur(2.42px); color: hsl(0, 23.39%, 50%); }
	60% { top: -3px; left: 0px; filter: blur(0.79px); color: hsl(0, 88.39%, 50%); }
	65% { top: 1px; left: 0px; filter: blur(1.98px); color: hsl(0, 29.55%, 50%); }
	70% { top: 3px; left: 2px; filter: blur(2.01px); color: hsl(0, 9.74%, 50%); }
	75% { top: 2px; left: 3px; filter: blur(0.00px); color: hsl(0, 1.04%, 50%); }
	80% { top: 3px; left: 3px; filter: blur(0.87px); color: hsl(0, 21.76%, 50%); }
	85% { top: 2px; left: -2px; filter: blur(0.84px); color: hsl(0, 5.48%, 50%); }
	90% { top: -2px; left: 2px; filter: blur(2.90px); color: hsl(0, 1.02%, 50%); }
	95% { top: -2px; left: -1px; filter: blur(1.82px); color: hsl(0, 77.72%, 50%); }
	100% { top: 0px; left: 0px; filter: blur(0.49px); color: hsl(0, 32.39%, 50%); }
}
.chatformat .triggered {
	position: relative;
	animation-name: triggered;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}
#logContainer .nametag {
	display: inline-block;
}
#logContainer .content {
	display: inline;
}

/* Chatlog's actions */
.achat.action .timestamp {
	padding-top: 18px;
}
.achat .else .systemmessage {
	display: block;
	font-size: small;
}
.achat.action .else span a {
	color: inherit;
	text-decoration: inherit;
}
.achat.action .content {
	font-weight: bold;
}

/* Chats sidebar */
#chats {
	padding: 10px;
}
#chats button {
	width: 100%;
	padding: 4px 8px;
	text-align: left;
	word-break: break-all;
}
#chats button:hover {
	background: hsl(216, 45%, 87%);
}
#chats button:active {
	background: hsl(216, 50%, 82%);
}
#chats button.active {
	background: hsl(216, 31%, 39%);
	color: White;
}
#chats button.active:hover {
	background: hsla(216, 31%, 39%, 70%);
}
#chats button.active:active {
	background: hsla(216, 31%, 39%, 40%);
}

/* Info sidebar */
#info {
	padding: 15px;
	overflow-y: auto;
}
#info .card {
	padding: 10px;
	margin-bottom: 20px;
	background: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.08), 0 0 0 1px rgba(0, 0, 0, 0.08);
	transition: padding 0.15s;
}
#info .card.collapsed {
	padding: 10px 10px 0;
}
#info h2 {
	margin: 0;
	font-size: 120%;
}
#info .collapser {
	display: block;
	width: 100%;
	text-align: initial;
	padding: 10px;
	margin: -10px -10px 0;
	box-sizing: content-box;
}
#info .collapser:hover {
	background: rgba(0, 0, 0, 0.05);
}
#info .collapser:active {
	background: rgba(0, 0, 0, 0.1);
}
#info .collapser h2 {
	display: inline-block;
}
#info .collapser .chev {
	float: right;
	transition: transform 0.15s;
	transform: rotate(90deg);
	font-size: 120%;
	font-weight: bold;
}
#info .collapsed .collapser .chev {
	transform: rotate(0deg);
}
/* Room info */
#room .description {
	padding: 5px 0;
	width: 100%;
	text-align: left;
}
#room .description:hover {
	background: rgba(0, 0, 0, 0.1);
}
#room .description:active {
	background: rgba(0, 0, 0, 0.2);
}
.description-edit textarea {
	width: 100%;
	resize: vertical;
	height: 70px;
	min-height: 25px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.1);
	border: 0;
}
.description-edit .buttons {
	display: flex;
	justify-content: flex-end;
}
.description-edit .button {
	margin: 10px 0 0 10px;
}
/* Users */
#users {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 -6px;
}
#users .user-row {
	font-weight: bold;
	margin: 6px;
}
#users .user-row > * {
	display: inline-block;
}
#users .user-row a {
	text-decoration: inherit;
	color: inherit;
}
#users .activity {
	width: 8px;
	height: 8px;
	margin: 0 6px 1px 0;
	border-radius: 4px;
	border: 1px solid hsl(0, 0%, 80%);
}
#users .activity.online {
	background: hsl(140, 50%, 65%);
	border: 0;
}
#users .activity.inactive {
	background: hsl(60, 70%, 60%);
	border: 0;
}
/* Search */
.card #chatSearch input[type="date"] {
	display: block;
	margin: 10px 0;
	padding: 5px;
	outline: 0 !important;
	border: 0;
	box-shadow: 0 0 2px 0 hsl(0, 0%, 70%);
	font: inherit;
}
/* Used in both hot and starred */
.snippet {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}
.posted, .date-starred {
	font-size: 80%;
	color: rgba(0, 0, 0, 0.5);
	display: block;
	margin: 3px 0;
}
/* Hot */
#hot {
	margin-top: 8px;
}
#info button.explanation {
	margin: 5px 5px 0 0;
}
#info span.explanation {
	display: none;
}
#info button.explanation:hover + span.explanation {
	display: inline;
}
#hot .hotness {
	font-weight: bold;
	margin-bottom: 8px;
}
#hot .whomst {
	margin-right: 5px;
	font-weight: bold;
	display: inline-block;
}
#hot .msg-container {
	padding: 5px 0 5px 10px;
	border-left: 3px solid rgba(0, 0, 0, 0.1);
}
#hot .nametag {
	display: inline-block;
}
#hot .content {
	display: inline;
}
#hot .posted {
	margin-top: 8px;
}
#nostars.hidden {
	display: none;
}
/* Starred */
#starred .snippet > *:not(button) {
    margin: 2px 0;
}
.snippet .unstar {
	font-weight: bold;
	float: right;
	margin-left: 5px;
	opacity: 0.2;
}
.snippet:hover .unstar {
	opacity: 1;
}
#starred .nametag {
	font-weight: bold;
	margin-right: 10px;
	display: block;
	padding: 8px 0;
}
#starred .content {
	display: block;
}

/* Add room form */
.addRoomForm {
	display: flex;
	flex-wrap: wrap;
	padding-top: 40px;
}
.addRoomForm > div {
	flex-basis: 100%;
	text-align: center;
	padding: 10px 0;
}

/* Modal */
#centerModal {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: hsla(0, 0%, 100%, 0.8);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
#centerModal .modal-container {
	z-index: 3;
	background: white;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1), 0 0 2px 1px rgba(0, 0, 0, 0.1);
	max-width: calc(100% - 120px);
	max-height: calc(100% - 70px);
	overflow-y: auto;
	padding: 10px;
}
#centerModal button.close-modal {
	font-size: 30px;
	line-height: 23px;
	border-radius: 20px;
	float: right;
}

/* Audit history */
.timeline-container {
	width: 100%;
	display: flex;
	min-height: 50px;
	padding-left: 10px;
}
.timeline-container .part-container {
	margin: 25px 0;
}
.timeline-container h3 {
	font-size: 100%;
	margin: 0;
}
.timeline-container p {
	margin: 8px 0;
}
.timeline-container p.ago {
	opacity: 0.6;
}
.timeline-container .chatformat {
	border-left: 4px solid rgba(0, 0, 0, 0.1);
	margin: 5px 0 5px 7px;
	padding: 5px 7px;
}
.timeline-line {
	min-width: 6px;
	background: hsla(216, 31%, 39%);
}
.timeline-parts {
	flex-grow: 1;
}
.part-container {
	display: flex;
}
.part-connector {
	position: relative;
	left: -13px;
}
.part-connector > * {
	display: inline-block;
}
.part-connector .bubble {
	width: 20px;
	height: 20px;
	background: white;
	border-radius: 12px;
	border: 6px solid hsl(216, 31%, 39%);
}
.part-connector .line {
	height: 4px;
	width: 20px;
	background: hsl(216, 31%, 39%);
	position: relative;
	top: -7px;
	left: -2px;
}

/* Error */
.addRoomForm .error {
	background: hsl(0, 60%, 90%);
	border: 1px solid hsl(0, 60%, 50%);
	padding: 10px;
	border-radius: 3px;
	color: hsl(0, 60%, 50%);
	box-shadow: 0 0 5px 0 hsl(0, 60%, 70%);
	cursor: pointer;
	max-width: 300px;
	margin: auto;
}
.addRoomForm .error:hover {
	background: hsl(0, 60%, 85%);
}
.addRoomForm .error:active {
	background: hsl(0, 70%, 80%);
}

/* Misc */
.nametag a {
	color: inherit;
	text-decoration: inherit;
}