doctype html
html
  head
    title Chat - krislawton.com
    include /includes/htmlHead.pug
    link(rel="stylesheet", href="/u/common.css")
    script(src="/c/dataTransformers.js")
    script(src="/u/chat.js")
    link(rel="stylesheet", href="/u/chat.css")
  body.chats-open.info-open
    include /includes/rootPageHead.pug
    div#chatToolbar
      button.left.button
        span.chevron >
        |  Toggle chats
      button.right.button
        | Toggle info 
        span.chevron <
    div#chats
      div.rooms
    div#info
    div#center
      div#tableContainer
        table
          tbody#chatContainer
      div#sendContainer
        textarea(autofocus)