/* Primary elements */
body {
	height: 100vh;
	overflow: hidden;
}
#topBanner {
	width: 100%;
	position: fixed;
	top: 0;
}
#chatToolbar {
	width: 100%;
	height: 20px;
	position: fixed;
	top: 40px;
}
#chats {
	width: 200px;
	height: calc(100% - 60px);
	position: fixed;
	top: 60px;
	overflow-y: auto;
	transition: width 0.3s, opacity 0.3s;
}
#info {
	height: calc(100% - 60px);
	width: 350px;
	position: fixed;
	top: 60px;
	right: 0;
	transition: width 0.3s, opacity 0.3s;
}
#center {
	height: calc(100% - 60px);
	position: relative;
	top: 60px;
	background: white;
	transition: all 0.3s;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.08), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
#tableContainer {
	height: calc(100% - 70px);
	position: relative;
	top: 0;
	padding: 0 10px;
	overflow-y: scroll;
}
#tableContainer table {
	width: 100%;
	height: 100%;
}

/* Top toolbar */
#chatToolbar {
	font-size: 80%;
	text-transform: uppercase;
	pointer-events: none;
}
#chatToolbar button {
	height: 20px;
	line-height: 20px;
	font-size: 80%;
	padding-top: 0;
	padding-bottom: 0;
	color: white;
	pointer-events: auto;
}
#chatToolbar button:hover {
	color: inherit;
}
#chatToolbar button.right {
	position: absolute;
	right: 0;
}

/* When open/closed chats/info */
.chats-open #center {
	margin-left: 200px;
}
.chats-closed #center {
	margin-left: 0;
}
.chats-closed #chats {
	width: 0;
	opacity: 0;
}
.info-open #center {
	margin-right: 350px;
}
.info-closed #center {
	margin-right: 0;
}
.info-closed #info {
	width: 0;
	opacity: 0;
}

/* Text entry area */
#sendContainer {
	width: 100%;
	height: 70px;
	position: fixed;
	bottom: 0;
	padding: 10px;
	background: white;
	transition: all 0.3s;
}
#sendContainer textarea {
	font-family: inherit;
	font-size: inherit;
	resize: none;
	box-sizing: border-box;
	border: 0;
	width: 100%;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.1);
	padding: 5px;
}
#sendContainer textarea:focus {
	outline: 0;
}

/* Chat log */
#tableContainer table {
	border-collapse: collapse;
	width: 100%;
}
.achat, .dateSeparator {
	vertical-align: top;
}
.achat.starred {
	background: hsl(50, 90%, 95%);
}
.achat:hover {
	background: #f9f9f9;
}
.achat td {
	padding: 3px 0;
}
.achat .timestamp {
	width: 60px;
}
.achat .else {
	padding: 3px 1.3em 3px 0.6em;
	position: relative;
}
.achat .else > div {
	display: inline;
}
.achat .else .from {
	padding-right: 0.6em;
}
.achat .else .content {
	white-space: pre-wrap;
}
.achat .from {
	font-weight: bold;
}
.achat button.options {
	position: absolute;
	top: 0;
	right: 0;
	visibility: hidden;
}
.achat:hover button.options {
	visibility: visible;
}
div.options {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	background: white;
	box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.16);
	margin-top: 0;
	opacity: 0;
}
div.options button.option {
	display: block;
	padding: 7px 10px;
	width: 100%;
	text-align: left;
	font-size: 80%;
	color: rgba(0, 0, 0, 0.5);
}
div.options button.option.close {
	color: hsl(0, 70%, 70%);
}
div.options button.option:hover {
	background: rgba(0, 0, 0, 0.08);
}
div.options button.option:active {
	background: rgba(0, 0, 0, 0.16);
}
.achat .else .reactions {
	display: block;
	margin-bottom: 4px;
}
.reaction {
	display: inline-block;
	margin: 4px 10px 0 0;
	padding: 4px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 1px 1px 4px rgba(0, 0, 0, 0.1);
	background: #fbfbfb;
	font-size: small;
	color: rgba(0, 0, 0, 0.7);
}
.dateHeader td {
	font-weight: bold;
	text-align: center;
	padding: 20px 0 10px 0;
}
.diffSeparator div {
	margin: 5px 10px;
	border-left: 2px solid hsl(216,45%,92%);
	padding: 10px;
	color: rgba(0, 0, 0, 0.5);
}

/* Chatlog's actions */
.achat.action .timestamp {
	padding-top: 18px;
}
.achat .else .systemmessage {
	display: block;
	font-size: small;
}
.achat.action .else span a {
	color: inherit;
	text-decoration: inherit;
}
.achat.action .content {
	font-weight: bold;
}
.achat.action .content::after {
	content: " ~";
}
.achat.action .content::before {
	content: "~ ";
}

/* Chats sidebar */
#chats {
	padding: 10px;
}
#chats button {
	width: 100%;
	padding: 4px 8px;
	text-align: left;
	white-space: pre;
}
#chats button:hover {
	background: hsl(216, 45%, 87%);
}
#chats button:active {
	background: hsl(216, 50%, 82%);
}
#chats button.active {
	background: hsl(216, 31%, 39%);
	color: White;
}
#chats button.active:hover {
	background: hsla(216, 31%, 39%, 70%);
}
#chats button.active:active {
	background: hsla(216, 31%, 39%, 40%);
}

/* Info sidebar */
#info {
	padding: 15px;
	overflow-y: auto;
}
#info .card {
	padding: 10px;
	margin-bottom: 20px;
	background: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.08), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
#info h2 {
	margin: 0 0 10px;
	font-size: 120%;
}
#users {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 -6px;
}
#users .user-row {
	font-weight: bold;
	margin: 6px;
}
#users .user-row a {
	text-decoration: inherit;
	color: inherit;
}
.star-snippet {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}
.star-snippet > * {
    margin: 2px 0;
}
#starred .nametag {
    margin-right: 10px;
    font-weight: bold;
}
.nametag, .content {
    display: inline-block;
}
.posted, .date-starred {
    font-size: 80%;
    color: rgba(0, 0, 0, 0.5)
}

/* Add room form */
.addRoomForm {
	display: flex;
	flex-wrap: wrap;
	padding-top: 40px;
}
.addRoomForm > div {
	flex-basis: 100%;
	text-align: center;
	padding: 10px 0;
}

/* Error */
.addRoomForm .error {
	background: hsl(0, 60%, 90%);
	border: 1px solid hsl(0, 60%, 50%);
	padding: 10px;
	border-radius: 3px;
	color: hsl(0, 60%, 50%);
	box-shadow: 0 0 5px 0 hsl(0, 60%, 70%);
	cursor: pointer;
	max-width: 300px;
	margin: auto;
}
.addRoomForm .error:hover {
	background: hsl(0, 60%, 85%);
}
.addRoomForm .error:active {
	background: hsl(0, 70%, 80%);
}

/* Misc */
.nametag a {
	color: inherit;
	text-decoration: inherit;
}