* {
	box-sizing: border-box;
}
@font-face {
	font-family: "Fira Sans";
	src: url(/c/FiraSans-Regular.ttf);
}
@font-face {
	font-family: "Fira Code";
	src: url(/c/FiraCode-Regular.ttf);
}
body {
	margin: 0;
	font-family: "Fira Sans", "Arial", sans;
	background: hsl(216,45%,92%);
}

#topBanner {
	background: #455d82;
	height: 60px;
	color: white;
}
#topBanner .inner {
	max-width: 1000px;
	margin: auto;
	height: 60px;
	display: flex;
}
#topBanner .header {
	height: 100%;
	display: inline-block;
	font-size: 150%;
	line-height: 60px;
	flex-grow: 1;
}
#topBanner .header a {
	color: white;
	text-decoration: none;
	height: 100%;
	display: inline-block;
	padding: 0 10px;
}
#topBanner .header img {
	width: 32px;
	position: relative;
	top: 7px;
	margin-right: 7px;
}
#topBanner .right {
}
#topBanner .right > * {
	display: inline-block;
	height: 60px;
	line-height: 60px;
	width: 60px;
	text-align: center;
	cursor: pointer;
	position: relative;
	vertical-align: middle;
}
#topBanner .header a:hover, #topBanner .right > *:hover {
	background: hsla(0, 0%, 0%, 0.1);
}
#topBanner .header a:active, #topBanner .right > *:active {
	background: hsla(0, 0%, 0%, 0.3);
}
#topBanner .right > * img {
	position: absolute;
	width: 20px;
	top: 20px;
	left: 20px;
}
#topBanner .right .badge {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
	line-height: 9pt;
	min-width: 14px;
	padding: 2px;
	border-radius: 7px;
	background: hsl(0, 71%, 55%);
	font-size: small;
	color: white;
}
#topBanner .right > .attention .badge {
	display: block;
}
#topBanner .right > .attention img {
	animation-iteration-count: infinite;
	animation-duration: 3s;
	animation-timing-function: ease;
	animation-name: iconwiggle;
}
@keyframes iconwiggle {
	0%  { transform: scale(1.00) rotate(0); }
	6% { transform: scale(1.50) rotate(-10deg); }
	10% { transform: scale(1.30) rotate(10deg); }
	13% { transform: scale(1.30) rotate(-10deg); }
	17% { transform: scale(1.30) rotate(5deg); }
	20% { transform: scale(1.25) rotate(-5deg); }
	23% { transform: scale(1.20) rotate(2deg); }
	27% { transform: scale(1.10) rotate(-2deg); }
	33% { transform: scale(1.00) rotate(0deg); }
}

main.default {
	background: white;
	max-width: 1000px;
	margin: 10px auto 40px;
	padding: 5px 10px 40px;
	box-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.05);
}

/*********************/
/*** TOP DIALOGUES ***/
/*********************/
#topDialogues {
	position: relative;
	font-size: 10pt;
}
#topDialogues > * {
	display: none;
	background: White;
	position: absolute;
	width: 400px;
	height: 300px;
	z-index: 3;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.top-dialogue h2 {
	margin: 0;
	padding: 6px;
	background: hsl(216, 31%, 39%);
	color: white;
	font-size: 10pt;
	font-weight: normal;
	text-transform: uppercase;
}
.top-dialogue .inner {
	padding: 0 5px;
	overflow-y: auto;
	height: 272px;
}
.top-dialogue h3 {
	margin: 5px 0;
}
.top-dialogue p {
	margin: 5px 0;
}
/* Changelog & achievements */
.changelog, .recent-achievements {
	margin-bottom: 5px;
}
.changelog .change, .recent-achievements .ach-line {
	display: flex;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	transition: background 0.5s;
}
.change:hover, .change.unreleased:hover, .recent-achievements .ach-line:hover {
	opacity: 1;
	background: rgba(0, 0, 0, 0.02);
}
.change.attention {
	background: hsl(0, 90%, 99%);
}
.change.attention:hover {
	background: hsl(0, 90%, 96%);
}
.change.unreleased {
	opacity: 0.3;
}
.change .left, .recent-achievements .ach-line .left {
	flex-grow: 1;
	padding: 5px 0;
}
.change h4, .ach-line h4 {
	margin: 0 0 5px 0;
}
.change .description p:last-child {
	margin-bottom: 0;
}
.change.unreleased .when {
	display: none;
}
.change .when {
	text-align: right;
	margin: 5px 0;
	color: rgba(0, 0, 0, 0.6);
}
.change .mark-as-read, .ach-line .mark-as-seen {
	display: none;
}
.change.attention .mark-as-read, .ach-line.unseen .mark-as-seen {
	display: block;
	background: hsl(0, 71%, 55%);
	color: white;
	margin-left: 5px;
}
.change.attention .mark-as-read:hover {
	background: hsl(0, 71%, 67%);
}
.change.attention .mark-as-read:active {
	background: hsl(0, 71%, 75%);
}

.achievement.unseen .mark-as-seen {
	background: hsl(120, 71%, 45%);
}
.achievement.unseen .mark-as-seen:hover {
	background: hsl(120, 71%, 57%);
}
.achievement.unseen .mark-as-seen:active {
	background: hsl(120, 71%, 65%);
}
.recent-achievements .ach-line h4 {
	font-weight: normal;
}
.recent-achievements .ach-badge {
	padding: 4px 8px 4px 22px;
}
.recent-achievements .ach-badge::before {
	left: 9px;
	top: 7px;
}

/*********************/
/*** FORM ELEMENTS ***/
/*********************/
input[type="text"] {
	font: inherit;
	border: none;
	background: hsl(216,31%,92%);
	height: 40px;
	padding: 0 20px;
}

/***************/
/*** BUTTONS ***/
/***************/
/* This selector block and the below are NOT typos, they are meant to be separate */
button, a.button, input.button {
	background: initial;
	border: initial;
	font-family: inherit;
	font-size: initial;
	text-decoration: none;
	cursor: pointer;
	padding: initial;
}
button:focus, input.button:hover focus {
	outline: 0;
}
button.button, a.button, input.button {
	text-transform: uppercase;
	color: hsl(0, 0%, 50%);
	font-weight: bold;
	border-radius: 2px;
	display: inline-block;
	cursor: pointer;
	padding: 8px 12px;
	transition: box-shadow 0.1s;
}
button.button:hover, a.button:hover, input.button:hover {
	background: hsl(0, 0%, 96%);
}
button.button:active, a.button:active, input.button:active {
	background: hsl(0, 0%, 88%);
}
button.button.smol, a.button.smol, input.button.smol {
	padding: 4px 8px;
}
button.button:focus {
	outline: 0;
}
button.button:disabled, a.button:disabled, input.button:disabled {
	opacity: 0.5;
}

button.button.raised, a.button.raised, input.button.raised {
	background: hsl(216, 50%, 96%);
	box-shadow: 0 0 2px 0 hsl(0, 0%, 70%);
}
button.button.raised:hover, a.button.raised:hover, input.button.raised:hover {
	background: hsl(216, 30%, 88%);
	box-shadow: 0 0 2px 0 hsl(0, 0%, 70%), 0 2px 6px 0 hsl(0, 0%, 60%);
}
button.button.raised:active, a.button.raised:active, input.button.raised:active {
	background: hsl(216, 10%, 80%);
	box-shadow: 0 0 2px 0 hsl(0, 0%, 70%), 0 4px 8px 0 hsl(0, 0%, 60%);
}
button.button.raised.colored, a.button.raised.colored, input.button.raised.colored {
	background: hsl(216, 85%, 70%);
	color: white;
}
button.button.raised.colored:hover, a.button.raised.colored:hover, input.button.raised.colored:hover {
	background: hsl(216,60%, 64%);
}
button.button.raised.colored:active, a.button.raised.colored:active, input.button.raised.colored:active {
	background: hsl(216, 40%, 58%);
}

/********************/
/*** ACHIEVEMENTS ***/
/********************/
.ach-badge {
	position: relative;
	display: inline-block;
	background: #f0f0f0;
	font-weight: normal;
	border: 1px solid #c0c0c0;
	padding: 5px 10px 5px 30px;
	border-radius: 4px;
	position: relative;
}
.ach-badge::before {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 4px;
	content: " ";
	position: absolute;
	left: 12px;
	top: 10px;
	background: black;
}
.ach-badge.lvl1::before {
	background: hsl(20, 40%, 50%);
}
.ach-badge.lvl2::before {
	background: hsl(200, 10%, 75%);
}
.ach-badge.lvl3::before {
	background: hsl(45, 90%, 60%);
}
.ach-badge.lvl4::before {
	background: hsl(260, 100%, 70%);
	background: linear-gradient(45deg, hsl(170, 80%, 60%), hsl(200, 90%, 50%));
}
.ach-badge.lvl-1 {
	background: #c0c0c0;
}
.ach-badge.lvl-1::before {
	background: black;
}
.ach-badge.lvl-2 {
	background: black;
	color: white;
}
.ach-badge.lvl-2::before::before {
	background: white;
}
.ach-badge.lvl-3 {
	background: hsl(0, 80%, 40%);
	color: white;
}
.ach-badge.lvl-3::before {
	background: white;
}
a.ach-badge {
	color: inherit;
	text-decoration: inherit;
}
button.ach-badge:hover, a.ach-badge:hover {
	background: #e0e0e0;
}
button.ach-badge:active, a.ach-badge:active {
	background: #d0d0d0;
}

/**************/
/*** ERRORS ***/
/**************/
div.error {
	background: hsl(0, 60%, 90%);
	border: 1px solid hsl(0, 60%, 50%);
	padding: 10px;
	border-radius: 3px;
	color: hsl(0, 60%, 50%);
	box-shadow: 0 0 5px 0 hsl(0, 60%, 70%);
	cursor: pointer;
}
div.error:hover {
	background: hsl(0, 60%, 85%);
}
div.error:active {
	background: hsl(0, 70%, 80%);
}
div.error ul {
	margin: 0;
}