* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: "Fira Sans", "Arial", sans;
	background: hsl(216,45%,92%);
}

#topBanner {
	background: #455d82;
	height: 60px;
	color: white;
}
#topBanner .inner {
	max-width: 1000px;
	margin: auto;
	height: 60px;
	display: flex;
}
#topBanner .header {
	height: 100%;
	display: inline-block;
	font-size: 150%;
	line-height: 60px;
	flex-grow: 1;
}
#topBanner .header a {
	color: white;
	text-decoration: none;
	height: 100%;
	display: inline-block;
	padding: 0 10px;
}
#topBanner .right {
}
#topBanner .right > * {
	display: inline-block;
	height: 60px;
	line-height: 60px;
	width: 60px;
	text-align: center;
	cursor: pointer;
	position: relative;
	vertical-align: middle;
}
#topBanner .header a:hover, #topBanner .right > *:hover {
	background: hsla(0, 0%, 0%, 0.1);
}
#topBanner .header a:active, #topBanner .right > *:active {
	background: hsla(0, 0%, 0%, 0.3);
}
#topBanner .achievements-button img {
	position: absolute;
	width: 20px;
	top: 20px;
	left: 20px;
}
#topBanner .achievements-button img.animate {
	animation-iteration-count: 1;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-name: ac;
}
@keyframes ac {
	0%   { transform: scale(1.00) rotate(0); }
	20%  { transform: scale(1.40) rotate(-10deg); }
	30%  { transform: scale(1.20) rotate(10deg); }
	40%  { transform: scale(1.20) rotate(-10deg); }
	50%  { transform: scale(1.20) rotate(5deg); }
	60%  { transform: scale(1.15) rotate(-5deg); }
	70%  { transform: scale(1.10) rotate(2deg); }
	80%  { transform: scale(1.05) rotate(-2deg); }
	100% { transform: scale(1.00) rotate(0deg); }
}

main.default {
	background: white;
	max-width: 1000px;
	margin: 10px auto 40px;
	padding: 5px 10px 40px;
	box-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.05);
}

/*********************/
/*** FORM ELEMENTS ***/
/*********************/
input[type="text"] {
	font: inherit;
	border: none;
	background: hsl(216,31%,92%);
	height: 40px;
	padding: 0 20px;
}

/***************/
/*** BUTTONS ***/
/***************/
/* This selector block and the below are NOT typos, they are meant to be separate */
button, a.button, input.button {
	background: initial;
	border: initial;
	font-family: inherit;
	font-size: initial;
	text-decoration: none;
	cursor: pointer;
}
button:focus, input.button:hover focus {
	outline: 0;
}
button.button, a.button, input.button {
	text-transform: uppercase;
	color: hsl(0, 0%, 50%);
	font-weight: bold;
	border-radius: 2px;
	display: inline-block;
	cursor: pointer;
	padding: 8px 12px;
	transition: box-shadow 0.1s;
}
button.button:hover, a.button:hover, input.button:hover {
	background: hsl(0, 0%, 96%);
}
button.button:active, a.button:active, input.button:active {
	background: hsl(0, 0%, 88%);
}
button.button:focus {
	outline: 0;
}

button.button.raised, a.button.raised, input.button.raised {
	background: hsl(216, 50%, 96%);
	box-shadow: 0 0 2px 0 hsl(0, 0%, 70%);
}
button.button.raised:hover, a.button.raised:hover, input.button.raised:hover {
	background: hsl(216, 30%, 88%);
	box-shadow: 0 0 2px 0 hsl(0, 0%, 70%), 0 2px 6px 0 hsl(0, 0%, 60%);
}
button.button.raised:active, a.button.raised:active, input.button.raised:active {
	background: hsl(216, 10%, 80%);
	box-shadow: 0 0 2px 0 hsl(0, 0%, 70%), 0 4px 8px 0 hsl(0, 0%, 60%);
}
button.button.raised.colored, a.button.raised.colored, input.button.raised.colored {
	background: hsl(216, 85%, 70%);
	color: white;
}
button.button.raised.colored:hover, a.button.raised.colored:hover, input.button.raised.colored:hover {
	background: hsl(216,60%, 64%);
}
button.button.raised.colored:active, a.button.raised.colored:active, input.button.raised.colored:active {
	background: hsl(216, 40%, 58%);
}