doctype html
html
  head
    title Error page - krislawton.com
    include /includes/htmlHead.pug
    include /includes/rootHtmlHead.pug
  body
    include /includes/rootPageHead.pug
    +header(userData)
    main.default
      h1 Stop right there, buddy
      p Unfortunately there was an error, and I'm unable to determine what that error is. You can tell someone if you like.