doctype html
html
  head
    title Landing page - krislawton.com
    include /includes/htmlHead.pug
    link(rel="stylesheet", href="/u/common.css")
    link(rel="stylesheet", href="/u/homepage.css")
    script(src="/u/homepage.js")
  body
    include /includes/rootPageHead.pug
    main
      p
        a(href="/mcm/leaderboard") MCM leaderboard
      p
        a(href="/nomic/rules") Nomic rules