div.login {
	width: 300px;
	margin: 50px auto;
}
div.login > * {
	margin: 0;
}
div.login > *:not(:last-child) {
	margin-bottom: 20px;
}
div.login input {
	font: inherit;
	border: none;
	background: hsl(216,31%,92%);
	display: block;
	height: 40px;
	padding: 0 20px;
	width: 100%;
}
div.login button {
	width: 100%;
}
div.login .aint {
	font-size: small;
	opacity: 0.5;
}
div.login .signmeup {
	font-weight: bold;
	cursor: pointer;
}