doctype html
html
  head
    title Landing page - krislawton.com
    include /includes/htmlHead.pug
    include /includes/rootHtmlHead.pug
    link(rel="stylesheet", href="/u/login.css")
    script(src="/u/login.js")
  body
    include /includes/rootPageHead.pug
    +header(userData)
    main.default
      div.login
        p Log in pls
        input(type="text",placeholder="Token",style="display: none")#token
        input(type="text",placeholder="User name")#username
        input(type="text",placeholder="Password")#password
        p.only-signup(style="display: none") Warning: Your password is stored as plaintext in the database for now, 
          | and your connection to this site is not secure. 
          | DO NOT use a sensitive password.
        button.button.raised.colored.login Log in
        div.error(style="display: none")
        p.aint Bitch I ain't got an account, #[span.signmeup sign me up].
        p.have(style="display: none") Bitch I HAVE an account, #[span.logmein log me in].