h2 {
	font-size: 120%;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	padding-top: 10px;
}
p.smol {
	font-size: 10pt;
	color: rgba(0, 0, 0, 0.6);
}

div.indented {
	margin-left: 30px;
}
form.setting > * {
	display: inline-block;
}
form.setting > *:first-child {
	margin-left: 30px;
	width: 150px;
}
form.setting .mid-col {
	width: 300px;
}
form.settings .error {
    margin: 20px auto 0;
}

/* Color picker */
.radio-container {
	display: inline-block;
	position: relative;
	padding-left: 75px;
	bottom: 25px;
	cursor: pointer;
}
.radio-container input {
	position: absolute;
	opacity: 0;
	left: 0;
}
.radio-container .radio-checked {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 30px;
	height: 30px;
	background: black;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 1px 2px 4px rgba(0, 0, 0, 0.15);
	transition: box-shadow 0.2s, all 0.2s;
}
.radio-container .radio-checked:after {
	content: "";
	position: absolute;
	background: transparent;
	width: 14px;
	height: 14px;
	top: 13px;
	left: 13px;
	transition: background 0.2s;
}
.radio-container:hover .radio-checked {
	box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.3);
}
.radio-container input:checked ~ .radio-checked {
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
}
.radio-container input:checked ~ .radio-checked:after {
	background: white;
}

/* Session manager */
p.load-with-sm {
	display: none;
}
#session-manager {
	margin: 30px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.15);
	border-radius: 2px;
}
#session-manager .row > * {
	display: inline-block;
}
#session-manager .row {
	padding: 5px 0;
}
#session-manager .row + .row {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
#session-manager .row.header {
	font-weight: bold;
}
#session-manager .row:hover {
	background: rgba(0, 0, 0, 0.02);
}
#session-manager .row > * {
	padding: 10px;
}
#session-manager .label {
	display: none;
}

#session-manager .sid {
	width: 180px;
}
#session-manager .used {
	width: 300px;
}
#session-manager .pl {
	width: 120px;
}
#session-manager .ip {
	width: 50px;
}

@media only screen and (max-width: 900px) {
	#session-manager {
		box-shadow: 0 0 0;
		margin: 0;
	}
	#session-manager .header.row {
		display: none;
	}
	#session-manager .row > * {
		display: block;
		width: auto;
		padding: 10px 0;
		margin-left: 20px;
	}
	#session-manager .row .sid {
		font-weight: bold;
		margin-left: 0;
		letter-spacing: 1px;
	}
	#session-manager .row .ip, #session-manager .row .pl {
		display: inline-block; 
		padding: 10px 10px 10px 0;
		width: 200px;
	}
	#session-manager .label {
		display: inline-block;
		opacity: 0.6;
		margin-right: 5px;
	}
}