doctype html
html
  head
    title User profile - krislawton.com
    include /includes/htmlHead.pug
    include /includes/rootHtmlHead.pug
    link(rel="stylesheet", href="/u/user.css")
    script(src="/u/user.js")
    - var username = urlParameter.slice(urlParameter.indexOf("-") + 1)
    - var permaid = urlParameter.slice(0, urlParameter.indexOf("-"))
    meta#ids(data-permaid=permaid, data-username=username)
  body
    include /includes/rootPageHead.pug
    +header(userData)
    main.default
      a.button#allUsers(href="/users") < All users
      - headerText = "ID " + permaid + ": " + username
      h1= username + "'s profile"
      p
        span.here.display-name
        |  (
        span.here.username
        | ) signed up on 
        span.here.create-date
        | , has been active on 
        span.here.active-length 
        | , and was last active 
        span.here.last-activity-ago
        | . 
        span.here.display-name
        |  has 
        span.here.page-loads
        |  and has 
        span.here.messages-sent
        | .
      p
        span.here.display-name
        |  has the choice of the following colors: 
        span.here.color1
        | , 
        span.here.color2
        | , or 
        span.here.color3
        | .
      p
        | Here is a graph depicting the usual activity of 
        span.here.display-name
        |  throughout the hours of the day:
        div#hourly-activity
      h2 Achievements gotten
      div#ach-gotten
      h2 Achievements working towards
      p To not clog things up, some achievements are ommitted where you have negligible progress on them.
      div#ach-working