#allUser {
	margin-top: 5px;
}
h1 {
	margin-top: 4px
}
/* Top info */
p {
	line-height: 130%;
}
p span.here {
	font-weight: bold;
}
/* Activity graph */
.graph-bars {
	position: relative;
}
.graph-bar-container {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 200px;
}
.graph-bar {
	background: hsl(216, 31%, 39%);
	width: 20px;
	position: absolute;
	bottom: 0;
	left: 5px;
	border-radius: 4px;
	z-index: 2;
}
.graph-gridline {
	position: absolute;
	height: 1px;
	width: 720px;
	background: hsl(216, 60%, 90%);
	z-index: 1;
}
.graph-label {
	display: inline-block;
	width: 30px;
	text-align: center;
	font-size: small;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.6);
}

/* Achievements */
.ach-container {
	width: 300px;
	margin: 0 15px 15px 0;
	display: inline-block
}
.ach-badge {
	background: #f0f0f0;
	border: 1px solid #c0c0c0;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
	position: relative;
	padding-left: 30px;
	display: inline-block;
}
.ach-badge:hover {
	background: #e0e0e0;
}
.ach-badge::before {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 4px;
	content: " ";
	position: absolute;
	left: 12px;
	top: 10px;
	background: black;
	z-index: 2;
}
.ach-badge.lvl1::before {
	background: hsl(20, 40%, 50%);
}
.ach-badge.lvl2::before {
	background: hsl(200, 10%, 75%);
}
.ach-badge.lvl3::before {
	background: hsl(45, 90%, 60%);
}
.ach-badge.lvl4::before {
	background: hsl(260, 100%, 70%);
	background: linear-gradient(45deg, hsl(170, 80%, 60%), hsl(200, 90%, 50%));
}
.ach-badge.lvl-1 {
	background: #c0c0c0;
}
.ach-badge.lvl-2 {
	background: black;
	color: white;
}
.ach-badge.lvl-2::before {
	background: white;
}
.ach-badge.lvl-3 {
	background: hsl(0, 80%, 40%);
	color: white;
}
.ach-badge.lvl-3::before {
	background: white;
}
.ach-amount {
	margin-left: 7px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.6);
}

/* Working */
#ach-working {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -7px;
}
.ach-badge.working {
	min-width: 250px;
	text-align: center;
	margin: 0 7px 15px;
	position: relative;
	overflow: hidden;
	flex-grow: 1;
	flex-basis: 0;
}
.ach-badge.working.lvl4::before {
	border: 1px solid #f0f0f0;
	margin: -1px 0 0 -1px;
}
.ach-badge.working .ach-progress {
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.ach-badge.working .ach-inner {
	z-index: 2;
	position: relative;
}
.lvl1 .ach-progress {
	background: hsl(20, 40%, 85%);
}
.lvl2 .ach-progress {
	background: hsl(200, 10%, 85%);
}
.lvl3 .ach-progress {
	background: hsl(45, 90%, 80%);
}
.lvl4 .ach-progress {
	background: linear-gradient(325deg, hsl(170, 80%, 60%), hsl(200, 90%, 50%));
}