doctype html
html
  head
    title Nomic rules
    include /includes/htmlHead.pug
    include /includes/nomicHtmlHead.pug
    script(src="/u/nomic/newProposal.js")
    link(rel="stylesheet", href="/u/nomic/rules.css")
  body.nomic
    include /includes/nomicPageHead.pug
      h1 New proposal
      div#error
      