.rule h3 {
	margin: 0
}
.rule h3 div.buttoncontainer {
	display: inline-block; 
}
.rule h3 .inline {
	bottom: -12px;
	visibility: hidden;
	padding: 10px 6px;
}
.rule:hover h3 .inline {
	visibility: visible;
}

.rule button, .rule a.button {
	margin-left: 10px;
}
.ruleEdit div {
	text-align: right;
}

textarea {
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	height: 90px;
	min-height: 25px;
}