doctype html
html
  head
    title Nomic rules
    include /includes/htmlHead.pug
    include /includes/nomicHtmlHead.pug
    script(src="/u/nomic/rules.js")
    link(rel="stylesheet", href="/u/nomic/rules.css")
  body.nomic
    include /includes/nomicPageHead.pug
      h1 Home page
      div#error
      h2 Proposals
      p
        a.button.raised.colored(href="/nomic/proposal/new") New proposal
      h2 Rules
      div#rulesContainer
