doctype html
html
  head
    title MCM Leaderboards
    include /includes/htmlHead.pug
    include /includes/mcmHtmlHead.pug
    script(src="/u/mcm/leaderboard.js")
  body.mcm
    include /includes/mcmPageHead.pug
      h1 Leaderboard
      div#error
      table.grid#leaderboardGrid
        tbody
          tr.nondata
            each val, key in forView.model
              if (val.show)
                th #{key}
