doctype html
html
  head
    title MCM Match Summary
    include /includes/htmlHead.pug
    include /includes/mcmHtmlHead.pug
    script(src="/u/mcm/match.js")
    link(rel="stylesheet", href="/u/mcm/match.css")
    - var matchId = params
    meta#matchId(data-matchid=matchId)
  body.mcm
    include /includes/mcmPageHead.pug
      div.central
        h1 Match summary
        div#error
        div#matchDate Date
        div#matchType Type
        div#matchLength Length
        table#matchup
          tbody
            tr
              td#side1head Side 1
              td#scoreline ?–?
              td#side2head Side 2
      div.border
      div#notes