div.central {
	text-align: center;
}
#matchDate {
	margin-top: 2px;
}
#matchType {
	margin-top: 2px;
	font-weight: bold;
}
#matchLength {
	margin-top: 25px;
}
table#matchup {
	width: 100%;
}
table#matchup td, table#matchup th {
	padding: 0;
}
table#matchup tr:first-child {
	font-size: 20pt;
}
table#matchup tr td:first-child {
	text-align: left;
	width: 50%;
}
table#matchup tr td:last-child {
	text-align: right;
	width: 50%;
}
table#matchup #scoreline {
	font-weight: bold;
	min-width: 100px;
}
div.border {
	width: 100%;
	height: 1px;
	background: hsl(185, 85%, 65%);
	background: linear-gradient(110deg, hsl(170, 80%, 60%), hsl(200, 90%, 70%));
	margin: 10px 0;
}
span.change {
	border-radius: 3px;
	padding: 2px 4px;
	font-size: 70%;
	color: white;
	letter-spacing: 1px;
	position: relative;
	bottom: 2px;
}
span.change.gain {
	background: #009900;
}
span.change.loss {
	background: #993300;
}
span.change.neutral {
	background: #999999;
}