main {
	text-align: center;
}
#matchDate {
	margin-top: 2px;
}
#matchType {
	margin-top: 2px;
	font-weight: bold;
}
#matchLength {
	margin-top: 25px;
}
table#matchup {
	width: 100%;
}
table#matchup td, table#matchup th {
	padding: 0;
}
table#matchup tr:first-child {
	font-size: 20pt;
}
table#matchup tr td:first-child {
	text-align: left;
	width: 50%;
}
table#matchup tr td:last-child {
	text-align: right;
	width: 50%;
}
table#matchup #scoreline {
	font-weight: bold;
	min-width: 100px;
}